
<HTML lang="fr">

<head>
    <link rel="stylesheet" href="~/resources/Index.css">

    <title>HN - TP LOCAL </title>
    
</head>


<BODY>
    <header class="header">
        <!--logo + titre -->
        <img src="~/resources/GroupeHN.png" class="image"  alt=" GroupeHN" /> 
        <h1> Bienvenue dans le TP HN</h1>
    </header>



    <!--bar de navigation -->
    <nav class="navbar">
        <ul>
            <li><a href="/Home/Index/Form"> Fill out form</a></li>
            <li><a href="/Home/Index/AvisList">Avis list</a></li>
        </ul>
    </nav>

    <main>
        <section>
            <p>
                <a href="/Home/Index/Form">Fill out form </a>
            </p>
        </section>
    </main>


</BODY>
</HTML>